.grid-container5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;  
    background-color: rgba(246, 246, 248, 0.836);
    grid-template-areas:
      "a1 a2";
      
  }
  

.a2 form{
	width: 100%;
	padding: 20px;
	margin : 30px auto;
}

.a2 form p{
	color:#000;
	font-size: 15px;
    text-align: left    ;
}
.a2 form input{
	width: 100%;
	display: block;
	margin: 10px auto;
	padding: 6px 10px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 14px;
}
.a2 form input[type="submit"]{
	margin-top: 30px;
	background-color: #1a789a;
	width: 20%;
	border-radius: 5px;
	border: 1px solid #1a789a;
	color:#fff;
	font-weight: bold;
	opacity: 1;
	cursor: pointer;
}

.Message{
    height: 100px;
}


.a1{
    width: 100%;
	padding:20px;
	margin : 30px auto;
    display: flex;
    flex-direction: column;
    color:#000;
	font-size: 15px;
    justify-content: center;  
    padding-bottom: 100px;
}

.title1{
    
    padding-right: 25%;
    color:#1a789a ;
    font-size:xx-large;
    font-weight: bold;
    text-align: left;

}

.title2{
    
    padding-right: 25%;
    color:black ;
    font-size:larger;
    text-align: left;
}

.title3{
    color:black ;
    text-align: center;
    text-align: left;
    font-size: 15px;
    font-weight: lighter;

}


.login-button{
    background-color: #1a789a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 80%;
  }