.fiche{
	padding-top: 50px
}


@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
input:focus{
	outline:none;
}
*{
	font-family: 'Lato',sans-serif;
}


.fiche_title{
	display: flex;
	flex-direction: column;
	padding-left: 15%;
	padding-right: 35%;
	margin: auto;
	justify-self: center;
}

.firstp{
	text-align: left;
	font-size: 25px;
}
.secondp{
	text-align: right;
	font-size: 20px;
	
}



.grid-container2 {
	color: black;
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	flex-direction: row;
}
.c22{
	display: flex;
	display: row;
	width: 70%;
}

.c33 {
	border-left: 1px solid gray;
	margin-left: 50px;
  	width: 30%;
	display: flex;
	align-items:top;
	justify-content: center;
}
.c33 form{
	width: 75%;
	padding: 20px;
	margin : 30px auto;
}
.c33 form p{
	color:#000;
	font-size: 18px;
}
.c33 form input{
	width: 90%;
	display: block;
	margin: 10px auto;
	padding: 12px 10px;
	border: 1px solid gray;
	border-radius: 3px;
	font-size: 15px;
}
.c33 form input[type="submit"]{
	margin-top: 30px;
	background-color: lightsalmon;
	border-radius: 5px;
	border: 1px solid lightsalmon;
	color:#fff;
	font-weight: bold;
	opacity: 1;
	cursor: pointer;
}

p.contact {
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	font-family: 'Courier New';
	text-align: center;
  width: 100%;
}


p.title {
	text-align: center;
	font-size: 25px;
	font-family: 'Courier New', monospace;
}

p.contact_title {
	font-family: 'Courier New', monospace;
	color: black;
}
@import "~react-image-gallery/styles/css/image-gallery.css";
.tabs {
	margin-top: 10px;
	margin-left: 10%;
	margin-right: 10%;
	

}

.icons {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tabs p{
	text-align: left;
	padding-left: 10px;
	padding-right: 10%;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px 0px 24px;
}

.tab-pane{
	padding-top: 20px;
}

@media (max-width:900px)
{
	.grid-container2 {
		flex-direction: column;
	}
	.c33 {
		border:none;
		width: 90%;
	}
	.c22{
		flex-direction: column;
	}
}