.c1 img {
  width: 350px;
  height: 250px;
}

.c1 img:hover {
  opacity: 0.7;
}

.grid-container {
  border: 1px solid #ccc;
  padding: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin:20px auto;
  border-radius: 3px;
}
.grid-container:hover {
  border: 1px solid black;
}
.grid-container:hover .detail_button {
  visibility: visible;
}


.c2 {
  padding: 10px;
}

p {
  color: black;
  font-size: medium;
}

.title-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-price span {
  display: inline-block;
  margin-right: 20px;
  color: #000;
}

p.item_title {
  text-decoration-line: underline;
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
  color: #000;
}

p.item_text {
  padding-left: 40px;
  color: gray;
  text-align: left;
}

.c2 button {
  float: right;
  background-color: #1a789a;
  border: 1px solid #1a789a;
  border-radius: 3px;
  color: #fff;
  padding: 15px 28px;
  line-height: 12px;
  text-transform: none;
  font-size: 16px;
  visibility: hidden;
}

.hidden_price span{
  display: none;
}

/* media queries */

@media (max-width:900px){
  .grid-container {
    flex-direction: column;
    position: relative;
    width: 90%;
  }
  .c2{
    display: flex;
    flex-direction: column;
  }
  .title-price {
    display: flex;
  }
  .title-price span{
    display: none;
  }
  .hidden_price {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

  }
  .hidden_price span{
    display: block;
    position: relative;
    left: 20px;
    font-size: 17px;
  }
   p.item_title {
    padding: 10px 0;
    font-size: 18.5px ;
    width: 95%;
    margin : 0 auto;
  }
  p.item_text {
    padding: 5px;
    width: 95%;
    margin : 0 auto 15px auto;
    text-align: justify;
  }
  .grid-container:hover {
    border: 1px solid #ccc;
  }
  .grid-container .detail_button {
    visibility:initial;
  }
}