.container-fluid {
  border-bottom: 1px solid #d3cfcf;
}

img {
  width: 250px;
  padding: 10px;
  float: left;
}

.nav-link:hover{
  color: #1a789a !important;
}

.container-nav{
display: flex;
justify-content:space-between;
width: 100%;
position: relative;
}

.butt_acc{
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  padding: 5px;
  margin-left: 5px;
}

.btn_c{
  background-color:#f15623 !important ;
  border-color: #f15623 !important;
}

.img_1{
  padding: 0;
  margin: 0;
}

.img_2{
  padding: 0;
  margin: 0;
  margin-right: 550px;
}
.date_p{
  text-align: center;
  margin-top: 15px;
  margin-right: 10px;
}

.container-nav_links{
  background-color: #19315b !important;
}

.container-nav_links a{

  display: block;
  color: white !important;
  font-size: 14px;
  border-right: 1px solid #0d1f3d;
  border-left: 1px solid #233e6e;
  padding-top: 5px;
  padding-left: 20px !important;
  padding-right: 20px !important;
  text-decoration: none;
}

.dropdown_items a{

  color: black !important;

}

.ddd{
  padding-left: 20% !important;
}