.searchBox {
  padding: 60px;
}

.search_Container {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
  padding: 0 10px;
}
.area3,.area4{
  width: 30%;
}
.resetB {
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 32px;
  line-height: 34px;
  color: #000;
  cursor: pointer;
  background-color: lightsalmon; /* Green */
  color: white;
  width: 95%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid lightsalmon;
  margin: 0 10px;
  
}

.SearchB {
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 32px;
  line-height: 34px;
  color: #000;
  cursor: pointer;
  background-color: #1a789a; /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px 4px 15px;
  transition-duration: 0.4s;
  background-color: #f0f0f0;
  border: 1px solid #1a789a;
  width: 95%;

}
.SearchB:hover {
  background-color: #1a789a;
  color: #fff;
}

.SearchA {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.title5 {
  padding-right: 5%;
  padding-bottom: 30px;
  color: #1a789a;
  color: black;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

/* search suggestions */

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 50px;
  width: calc(100% - 5px);
  margin: 0;
  margin-top: 10px;
  margin-left: 13px;
  border: 1px solid #aaa;
  background-color: #fff;
  text-align: left;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}



@media only screen and (max-width: 900px) {
  
  .search_Container {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding: 10px 0;
  }
  .area3 , .area4{
    padding-right: 20px;
    width: 100%;
  }
  .searchBox {
    width: 80%;
    padding:40px 0 20px 0;
    margin : 15px auto 50px auto;
  }
  .area1,.area2{
    width: 100%;
    margin:5px auto;
    
  }
  .SearchB,.resetB{
    margin:0;
  }
}